# Node
node_modules/

# .NET
**/bin/
**/obj/
publish/

# OS
.DS_Store

# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
terraform.tfvars
lambda_build

# SSH keys
*.pem
id_rsa*
*.pub

# Ansible generated/local files
ansible/*/hosts.ini
ansible/*/group_vars/all.yml